$color-primary: #6a9fb5;
$color-primary-dark: #5793ab;
$color-primary-darker: #518ba3;
$color-primary-darkest: #437286;
$color-primary-light: #7dabbf;
$color-primary-lighter: #87b2c3;
$color-primary-lightest: #a4c4d2;